<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"></h1>
    </header>

    <p>Race</p>
    <input name="system.race" type="text" value="{{actor.system.race}}"/> <!--if actor.something - class, else - name -->

    <p>Name</p>
    <input class="hero-name" name="name" type="text" value="{{actor.name}}"/>

    <p>HP</p>
    <input name="system.hp" type="number" value="{{actor.system.hp}}" step="1"/>

    <table>
        <tr>
            <th>PHY</th>
            <th>AGI</th>
            <th>INT</th>
        </tr>
        <tr>
            <td>
                <input name="system.phy" type="number" value="{{actor.system.phy}}" step="1"/>
            </td>

            <td>
                <input name="system.agi" type="number" value="{{actor.system.agi}}" step="1"/>
            </td>

            <td>
                <input name="system.int" type="number" value="{{actor.system.int}}" step="1"/>
            </td>            
        </tr>
    </table>

    <table>
      <tr>
        <th>SPD</th>
        <th>STR</th>
        <th>PRW</th>
        <th>POI</th>
        <th>ARC</th>
        <th>PER</th>
    </tr>
    <tr>
      <td>
        <input name="system.spd" type="number" value="{{actor.system.spd}}" step="1"/>
    </td>

    <td>
        <input name="system.str" type="number" value="{{actor.system.str}}" step="1"/>
    </td>

    <td>
        <input name="system.prw" type="number" value="{{actor.system.prw}}" step="1"/>
    </td>

    <td>
        <input name="system.poi" type="number" value="{{actor.system.poi}}" step="1"/>
    </td>

    <td>
        <input name="system.arc" type="number" value="{{actor.system.arc}}" step="1"/>
    </td>

    <td>
        <input name="system.per" type="number" value="{{actor.system.per}}" step="1"/>
    </td>
    </tr>
    </table>

    <table>
        <tr>
            <th>DEF</th>
            <th>ARM</th>
            <th>WILL</th>
            <th>FEAT</th>
        </tr>
        <tr>
            <td>
                <input name="system.def" type="number" value="{{actor.system.def}}" step="1"/>
            </td>

            <td>
                <input name="system.arm" type="number" value="{{actor.system.arm}}" step="1"/>
            </td>

            <td>
                <input name="system.will" type="number" value="{{actor.system.will}}" step="1"/>
            </td>

            <td>
                <input name="system.feat" type="number" value="{{actor.system.feat}}" step="1"/>
            </td>            
        </tr>
    </table>

      <button type="button" class="check-json">Apply</button>


    <section class="items">
  <h3>Owned Items</h3>
  <ol class="actor-items">
  {{#each actor.items as |item id|}}
    <li class="actor-item" data-item-id="{{item._id}}">
      {{item.name}}
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <label>
        <input type="checkbox" class="boost-att-checkbox" data-item-id="{{item._id}}"> Boost Attack (3d6)
      </label>
      <label>
        <input type="checkbox" class="boost-dmg-checkbox" data-item-id="{{item._id}}"> Boost Damage (3d6)
      </label>
      {{#if (eq item.type "ranged-weapon")}}
  <button type="button" class="roll-ranged-attack"
          data-item-id="{{item._id}}"
          data-att-modifier="{{item.system.attModifier}}"
          data-pow="{{item.system.pow}}">Shoot!</button>
{{/if}}

{{#if (eq item.type "melee-weapon")}}
  <button type="button" class="roll-melee-one-hand-attack"
          data-item-id="{{item._id}}"
          data-att-modifier="{{item.system.attModifierOneHanded}}"
          data-pow="{{item.system.powOneHanded}}">Swing (1H)</button>
  <button type="button" class="roll-melee-two-hand-attack"
          data-item-id="{{item._id}}"
          data-att-modifier="{{item.system.attModifierTwoHanded}}"
          data-pow="{{item.system.powTwoHanded}}">Swing (2H)</button>
{{/if}}

{{#if (eq item.type "armor")}}
  <button type="button" class="recalculate-armor"
          data-item-id="{{item._id}}"
          data-arm-modifier="{{item.system.armModifier}}">Recalculate Armor</button>
{{/if}}
    </li>
  {{/each}}
</ol>
</section>
</form>
