<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"></h1>
    </header>
    
    <p>HELLO IM ACTOR!!!</p>
    <input class="hero-name" name="name" type="text" value="{{actor.name}}" title="Hero's Name">

    <input name="system.hp" type="text" value="{{actor.system.hp}}"/>

    <section class="items">
  <h3>Owned Items</h3>
  <ol class="actor-items">
  {{#each actor.items as |item id|}}
    <li class="actor-item" data-item-id="{{item._id}}">
      {{item.name}}
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <label>
        <input type="checkbox" class="boost-att-checkbox" data-item-id="{{item._id}}"> Boost Attack (3d6)
      </label>
      <label>
        <input type="checkbox" class="boost-dmg-checkbox" data-item-id="{{item._id}}"> Boost Damage (3d6)
      </label>
      <button type="button" class="roll-attack" data-item-id="{{item._id}}">Shoot!</button>
    </li>
  {{/each}}
</ol>
</section>
</form>

